<div class="row">
    <div class="col-sm-4"><a href="{{ path('webtfe_logout') }}">Déconnection</a></div>
    <div class="col-sm-4"><a href="{{ path('wetfe_stock') }}">stock</a></div>
    <div class="col-sm-4"><a href="{{ path('wetfe_stock') }}">Article</a></div>
</div>